.artImage{
    width:100%;
    height:25vh;
}
.artCard{
    height:100%;
    width:100%;
}
.sub-text{
    color:#9b9b9b;
}
::ng-deep .nx-pagination__container{
    justify-content: center;
}

::ng-deep .nx-spinner--large{
    margin: auto;
    margin-top: 5rem;
    
}