<div nxLayout="grid">
  <div nxRow nxRowJustify="center">
    <div nxCol="12,12,6,4,4,4,4">
      <nx-formfield nxLabel="Filter:">
        <nx-multi-select [(ngModel)]="filterText" [options]="filterOptions" selectLabel="key" selectValue="value">
        </nx-multi-select>
      </nx-formfield>
    </div>
    <div nxCol="12,12,6,4,4,4,4">
      <nx-formfield nxLabel="Sort By:">
        <nx-dropdown [nxValueFormatter]="toFilterText" [(ngModel)]="sortText">
          <nx-dropdown-item *ngFor="let option of sortOptions" [nxValue]="option.value">{{option.key}}
          </nx-dropdown-item>
        </nx-dropdown>
      </nx-formfield>
    </div>
  </div>
  <div nxRow *ngIf="!showSpinner">
    <div nxCol="12,12,6,3,3,3,3" *ngFor="let artWork of artWorkList | filter:filterText | sort:sortText" class="nx-margin-y-s">
      <nx-card class="artCard">
        <nx-card-header>
          <img class="artImage"
            [src]="artWork.image_id!=null?iiif_url+'/'+artWork.image_id+imageAppendURL:'https://upload.wikimedia.org/wikipedia/commons/3/32/Art_Institute_of_Chicago_logo.svg'"
            alt="product image" />
          <h4 nxHeadline="subsection-xsmall">{{artWork.title}}</h4>
        </nx-card-header>
        <p nxCopytext="normal">{{artWork.artist_display}}</p>
        <p nxCopytext="normal" class="sub-text">{{artWork.place_of_origin}}
          <span *ngIf="artWork.date_start !=null && artWork.date_end!=null">
            <span *ngIf="artWork.date_start!=artWork.date_end">({{artWork.date_start}} - {{artWork.date_end}}) </span>
            <span *ngIf="artWork.date_start==artWork.date_end">({{artWork.date_start}}) </span>
          </span>
        </p>
        <p nxCopytext="normal" class="sub-text">{{artWork.material_titles}} </p>
      </nx-card>
    </div>
  </div>
  <div nxRow nxRowJustify="center" class="nx-margin-y-s">
    <div nxCol="8">
      <nx-pagination [nxCount]="pagination.count" [nxPage]="pagination.page" [nxPerPage]="pagination.perPage"
        nxType="advanced" (nxGoPrev)="prevPage()" (nxGoNext)="nextPage()" (nxGoPage)="goToPage($event)">
      </nx-pagination>
      <nx-spinner nxSize="large" *ngIf="showSpinner"></nx-spinner>
    </div>
  </div>
</div>